@font-face {
  font-family: 'Graphis Test';
  font-weight: normal;
  src: url('graphis-test_regular.woff2');
  src: url('graphis-test_regular.woff2') format('woff2'),
        url('graphis-test_regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Graphis Test';
  font-weight: bold;
  src: url('graphis-test_bold.woff2');
  src: url('graphis-test_bold.woff2') format('woff2'),
        url('graphis-test_bold.ttf') format('truetype');
  font-display: block;
}