@font-face {
  font-family: 'graphis';
  src:  url('fonts/graphis.eot?el5dl2');
  src:  url('fonts/graphis.eot?el5dl2#iefix') format('embedded-opentype'),
    url('fonts/graphis.ttf?el5dl2') format('truetype'),
    url('fonts/graphis.woff?el5dl2') format('woff'),
    url('fonts/graphis.svg?el5dl2#graphis') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
